{% extends '@UserBundle/base.html.twig' %}

{% block body %}
    <header class="bg-dark pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
            <div class="row align-items-center">
                <div class="col py-5">
                    <h1 class="fw-bold text-white mb-2">
                        {{ 'user.dashboard.heading'|trans({}, 'user-bundle') }}
                    </h1>
                    <p class="fs-lg text-white text-opacity-75 mb-0">
                        <a class="text-reset" href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </p>
                </div>
                <div class="col-auto">
                    <a href="{{ path('user_logout') }}" class="btn btn-white btn-sm">
                        {{ 'user.sign_out.link'|trans({}, 'user-bundle') }}
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
